.link{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.service{
    color:white;
    font-weight: 900;
  
}
@media only screen and (max-width: 768px) {
    .navbar-default{
        display: none;
    }
}
@media screen and (min-width: 1240px) {
    
}
.navbar{
height: 10px;
  background-color: black !important;
}

.navbar-default {
    height: 100px;

}