.app {
  // background-color: black;
}
.header{
  // height: 100px;
  // width: 100%;

  clear: both;
}
.TheHeader{
  padding-top: 100px;
  background: linear-gradient(to top right,grey 66.6%,grey,transparent 0);
   background-image: linear-gradient(to right top, rgb(128,128,128) 60.3%, rgb(218, 41, 28), transparent 0px);
   filter: drop-shadow(3px 6px 4px 3 grey);
   box-shadow: 10px 10px grey;
    // background-position-x: initial;
    // background-position-y: initial;
    // background-size: initial;
    // background-repeat-x: initial;
    // background-repeat-y: initial;
    // background-attachment: initial;
    // background-origin: initial;
    // background-clip: initial;
    // background-color: initial;

}

.Devices{
  background-color:	#D8D8D8;
  height: 1200px;
  filter:sepia(10%);	
}