.app {
  // background-color: black;
}
.header{
  // height: 100px;
  // width: 100%;
  background-color: grey !important;
  clear: both;
}
.TheHeader{
  padding-top: 100px;
  // background-color: grey;
}