.app {
  // background-color: black;
}
.header{
  // height: 100px;
  // width: 100%;

  clear: both;
}
.TheHeader{
  padding-top: 100px;
  background-color:gray;
  filter:sepia(18.5%);	
  // background-color: grey;
}

.Devices{
  background-color:	#D8D8D8;
  height: 1000px;
  filter:sepia(10%);	
}