.head{
   
    color: black;
    
    height: 743.2px;
}

.Title{
    margin-top:5%;
    padding-top: 10%;
    color: aliceblue;
    font-family: 'Sunflower', sans-serif;
    padding-left: 15%;
}
.backr{
    
}
.line{
    background-image: url('./Images/line.png');
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    margin-top: -110px;
    margin-right: 60px !important;
    background-size: 300px 300px;
    background-position: -45px;
    background-repeat: no-repeat;
}
.headerPhone{
    height: 350px;
    width: 300px;
    transform-style: preserve-3d;
    perspective: 600px;position: relative;
    transform: rotateY( 5.8deg);
    filter: grayscale(18%)
}
.Iphone{
    /* background-size:auto 400px; */
    z-index: -10;
    background-repeat: no-repeat;
    /* margin: 0 auto; */
  margin-top: 45%;
   /* height: 300px; */
   width: 320px;
   border-radius: 100px;
   background-position: 50% 50%;
   background-repeat: no-repeat;
    padding-top: 0%;
    transition: .3s ;
    
    
    transition-timing-function: linear;
    /* margin-top: -150px; */
    /* padding-bottom: 100px; */
}

.ThePhone:leftImage{
/* height: 100px; */
padding-right: 10px;
}
.photos{
    /* margin-left: 50% !important; */
}

.for{
    /* padding-left: 7%; */
}
.info{
    margin-left: 70px;
    padding-left: 50px;
    margin-top: -180px;
    width: 55%;
    color: aliceblue;
    font-family: 'IBM Plex Sans', sans-serif;
    /* padding-left: 12%; */
    font-size: 15.5px;
    /* padding-right: 5%; */
}
.text{
    color: black;
    transition: .3 all;
    /* padding-left: 20%;
    margin-top: -160px; */
}
.text:hover text:after{
content: 'ADD'
}



@media only screen and (max-width: 768px) {

    .test:hover:active{
        padding-left: 40%;
    }
}



