.top{
    /* margin-top: 100px; */
    margin-left: 240.9px;

}

.backr{
    height: 100%;
}
.names{
    margin-left: -350.8px;
    margin-top:30px;
   
    box-sizing: content-box;
    font-size: 30px;
    width: 90px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.names2{
    margin-left: 40px;
    width: 90px;
    margin-top:45px;
    padding-top: 40px;
   
    box-sizing: content-box;
    font-size: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.names3{
    font-size: 30px;
    height: -2px;
    width: .5px;
    margin-top:40px;
    margin-left: 550px;
    font-family: 'IBM Plex Sans', sans-serif;
  
   
}
.names4{
    margin-left: 1065px;
    font-size: 30px;
    height: -2px;
    width: .5px;
    margin-top:40px;
    
    font-family: 'IBM Plex Sans', sans-serif;
}
.link{
    width: 1px;
   
}

.group{
    margin-top: 200px;
    margin-left: 170.9px;
}
.devi{
    margin-bottom: 10px;
}

.theInfo{
    margin-top: 89px;
    margin-left: 4%;
}
.fast{
    margin-top:-270px; 
    margin-left: 100px;
}
.free{
    margin-top:-270px; 
    margin-left: 599px;
}
.warranty{
    margin-top:-270px; 
    margin-left: 1080px;
}
.best{
    margin-left: -320px;
}
.Phone{
    z-index: -1;
    height: 220px;
    width: 500px;
    margin-left: -500px;
    padding-right: 100px;
    margin-top: -70px;
    filter: grayscale(80%);
    transition: all .2s ease-in-out;
 
}
.Phone:hover{
    filter: grayscale(0%);
 
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}
.Tablet{
    height: 200px;
    width: 180px;
    margin-top: -270px;
    margin-left: 42.5.9px;
    margin-bottom: 20px;
    filter: grayscale(80%);
    transition: all .2s ease-in-out;
}
.Tablet:hover{
    filter: grayscale(0%);
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}
.Mac{
    
        height: 205px;
        width: 250px;
        margin-bottom: 10px;
        margin-top: -260.5px;
        margin-left: 510.9px;
        filter: grayscale(80%);
        transition: all .2s ease-in-out;
        transform: scale(1.1);
    
}
.Mac:hover{
    filter: grayscale(0%);
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}
.Ipod{
     height: 215px;
    width: 250px;
    margin-bottom: 10px;
    margin-top: -270.5px;
    margin-left: 970.9px;
    filter: grayscale(80%);
    transition: all .2s ease-in-out;

}
.Ipod:hover{
    filter: grayscale(0%);
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}
.thephone{
    height: 100px;
    width: 10px;
}
.the{
    width: 50%
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
      .Phone{
        margin-left: -370px;
      }
      .Tablet{
        margin-left: 70.9px;
      }
      .Mac{
        margin-left: 440.9px;
      }
      .Ipod{
        margin-left: 800.9px;
      }
      .names{
        margin-left: -219.8px;
      }
      .names2{
        margin-left: 107px;
      }
      .names3{
        margin-left: 490px;
      }
      .names4{
        margin-left: 890.9px;
      }
      .fast{
       
        margin-left: 190px;
    }
    .best{
        margin-left: -150px;
    }
    .free{
       
        margin-left: 539px;
    }
    .warranty{
        
        margin-left: 899px;
    }
}