.top{
    /* margin-top: 100px; */

}

.backr{
    height: 100%;
}
.Phone{
   
    height: 300px;
    width: 250px;
}
.devi{
    margin-bottom: 10px;
}
.Tablet{
    height: 300px;
    width: 300px;
    margin-top: -295.5px;
    margin-left: 250px;
}
.thephone{
    height: 100px;
    width: 10px;
}
.the{
    width: 50%
}